<div class="home_photo">
		<div class="row">
			<h1 class="head_sentence"> Look around. Find your need. </h1>
		</div>
</div>

<div class="miss_state center">
	<h1> We endeavor to offer the best experience to peers </h1>
	<p> like us to mitigate their college costs, to help them building an unique community within their campus, and to levitate “freshman fears”. It is an idea, never a business. </p>
</div>

<div class="container steps_section">
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-12">
		  <img src="/assets/location.png" class="section_icon col-lg-9 col-md-9 col-sm-9 col-xs-9">
		  <h2 class="center col-xs-12">Locate campus</h2>
		  <p> As of now, our service is only limited to the campus at Tufts University and UMass Amherst. We are hoping to expand into more. </p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<img src="/assets/search.png" class="section_icon col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<h2 class="center col-xs-12">searchh item</h2>
			<p> You can find the item through its title, author or ISBN </p>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-12">
			<img src="/assets/contact.png" class="section_icon col-lg-9 col-md-9 col-sm-9 col-xs-9">
			<h2 class="center col-xs-12">Contact peer</h2>
			<p> Our service provides a chat room to contact your peers if your are interested in their items. </p>
		</div>
	</div>
</div>
