<footer>
	<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="row col-md-6 col-md-offset-4">
			<ul class="nav navbar-nav">
				<li>
					<a 	href="#">About Us </a>
				</li>
				<li>
					<a href="#">Contact Us </a>
				</li>
				<li>
					<a href="#">Terms & Condition </a>
				</li>

		</ul>
	</div>

	<div class="row col-md-3 col-md-offset-5">
		<p>&copy; 2016 Jianjie++Libin, Inc.</p>
	</div>

</footer>

