<footer>
	<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<ul class="nav navbar-nav center">
				<li class="col-xs-4">
					<a 	href="#">About Us</a>
				</li>
				<li class="col-xs-4">
					<a href="#">Terms & Cond.</a>
				</li>
				<li class="col-xs-4">
					<a href="#">Contact Us</a>
				</li>
		</ul>
	</div>
	<div class="row col-md-3 col-md-offset-5 center">
		<p>&copy; 2016 Jianjie++Libin, Inc.</p>
	</div>

</footer>

